<div class="login">

  <div *ngIf="errorMessage" class="login-error">
    Could not activate user. {{ errorMessage }}
  </div>
  <div *ngIf="isTokenValid">
    <div *nfIf="!finished">
      <div class="register-login">
        <form class="form-create" *ngIf="resetPwForm" [formGroup]="resetPwForm">
          <label class="flex" for="email">
            Email:
            <input id="email" type="email" formControlName="emailControl"  maxlength="256" />
          </label>

          <label class="flex" for="password">
            Password:
            <input id="password" type="password" formControlName="passwordControl"  maxlength="256" />
          </label>

          <label class="flex" for="confirm-password">
            Confirm Password:
            <input id="confirm-password" type="password" formControlName="confirmPasswordControl"  maxlength="256" />
          </label>
          <div *ngIf="errorMessage" class="login-error">
            {{ errorMessage }}
          </div>
          <div class="flex flex-revert">
            <button (click)="submit()" [disabled]="!resetPwForm.valid || isProcessing">Save Password</button>
            <button class="button-empty" routerLink="/login">Return to Login</button>
          </div>
        </form>
      </div>
      <div class="registered-success" *ngIf="finished">
        <h3>Password changed!</h3>
        <p>you can Login now</p>
        <button routerLink="/login">Go to Login</button>
      </div>
    </div>
  </div>
  <div>
    <button routerLink="/login">Go to Login</button>
  </div>
</div>
