<div class="form-login">

  <div *ngIf="!isEmailSent">
    <form class="form-create" *ngIf="form" [formGroup]="form">
      <label class="flex" for="email">
        Email:
        <input id="email" type="email" formControlName="emailControl"  maxlength="256" />
      </label>
      <div *ngIf="errorMessage" class="login-error">
        {{ errorMessage }}
      </div>
      <div class="flex flex-revert">
        <button (click)="recoverPassword()" [disabled]="!form.valid || isSendingEmail">Send recovery email</button>
        <button class="button-empty" *ngIf="!isEmailSent" routerLink="/login">Return to Login</button>
      </div>
    </form>
  </div>
  <div class="forgot-password-success" *ngIf="isEmailSent">
    <h3>Email has been sent!</h3>
    <p>Please go to your email and click the recovery password link.</p>
    <button routerLink="/login">Go to Login</button>
  </div>
</div>
